transformers
transformers[sentencepiece]
datasets
sacrebleu
rouge_score
py7zr
nltk
tqdm
PyYAML
matplotlib
notebook
mypy-boto3-s3
python-box==7.1.1
ensure==1.0.4
fastapi==0.78.0
uvicorn==0.18.3
Jinja2==3.1.4
-e .